<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <ul id="messages"></ul>
        <form id="chatbox">
            <textarea></textarea>
            <input type="submit" value="Send" />
        </form>
    </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        $(function() {
            var socket = null;
            var msgBox = $("#chatbox testarea");
            var messages = $("#messages");
            $("#chatbox").submit(function() {
                if (!msgBox.val()) return false;
                if (!socket) {
                    alert("Error: There is no socket connection.");
                    return false;
                }
                socket.send(msgBox.val());
                msgBox.val("");
                return false;
            });
            if (!window["WebSocket"]) {
                alert("Error: Your browser does not support web sockets.")
                } else {
                    socket = new WebSocket("ws://loacalhost:8080/room");
                    socket.onclose = function () {
                        alert("Connection has been closed.");
                    }
                    socket.onmessage = function (e) {
                        messages.append($("<li>").text(e.data));
                    }
                }
        });
    </script>
</html>